html {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  text-align: center;
}
h1 {
  font-size: 1.8rem;
  color: white;
}
.topnav {
  overflow: hidden;
  background-color: #0a1128;
}
body {
  margin: 0;
}
.description {
  text-align: left;
  padding: 2%;
}
.content {
  padding: 50px;
}
.card-grid {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.card {
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.5);
}
button {
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.onButton {
  background-color: #1b8a94;
}

.confirmButton {
  background-color: #1b8a94;
}

.offButton {
  background-color: #5f6c6d;
}

.connectButton {
  background-color: #24af37;
}

.disconnectButton {
  background-color: #d13a30;
}

.gray-label {
  color: #bebebe;
  font-size: 1rem;
}

.reading {
  font-size: 1.2rem;
}
